.container, .column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 321px){
    .column{
        flex-basis: 100%;;
    }

    #A, #B{
        flex-basis: 100%;
    }

    #C, #D {
        flex-grow: 1;
    }

    #E{
        flex-basis: 100%;
    }
}

@media (min-width: 961px){
    .column.left{
        flex-basis: 70%;
    }

    .column.right{
        flex-basis: 30%;
    }
}